/*title orange underline*/
.category h2:before {
    content: "";
    position: absolute;
    background-color: var(--custom-color-primary);
    height: 2px;
    width: 5rem;
    margin-top: 3rem;

    margin-left: auto;
    margin-right: auto;

    left: 0;
    right: 0;
}

@media (max-width: 992px) {
    .category h2:before {
        width: 4.5rem!important;
        margin-top: 2.8rem;
    }
}

@media (max-width: 768px) {
    .category h2:before {
        width: 4rem!important;
        margin-top: 2.5rem;
    }
}

/*image zoom on hover*/
.category img {
    transition: transform .2s;
    cursor: pointer;
}

.category img:hover {
    transform: scale(1.05);
}

/*image show modal styles*/
.backdrop {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.backdrop img{
    display: block;
    max-width: 90%;
    max-height: 90%;
    margin: 2rem auto;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
}


.MuiToggleButtonGroup-grouped {
    border: 0 !important;
    border-radius: 5px!important;
}
.Mui-selected{
    color: #ffffff !important;
    background-color: rgb(250, 99, 67) !important;
}
.Mui-selected:hover{
    background-color: rgb(250, 99, 67) !important;
}
.MuiToggleButtonGroup-grouped .Mui-disabled {
    border: 0 !important;
}