.drag-area {
    height: 200px;
    border: 3px dashed #e0eafc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;

    cursor: pointer;
}

.drag-area.active {
    border: 2px solid #1683ff;
}

.drag-area .support {
    font-size: 12px;
    color: grey;
    margin: 10px 0 15px 0;
}



/*@media (min-width: 768px) {
    
}*/
