/*events category links*/
.events a{
    color: var(--custom-color-primary);
}
.events a:hover{
    color: var(--custom-color-secondary);
}

.events .event-text {
    margin: auto 0;
}

.events .col-order{
    order: -1!important;
}

@media (max-width: 768px) {
    .col-order{
        order: unset!important;
    }
}

