/*@media (min-width: 992px){*/
/*    footer {*/
/*        transform: none!important;*/
/*        left: unset!important;*/
/*        right: 0!important;*/
/*    }*/
/*}*/

:root {
    --white-50: rgba(255, 255, 255, 0.5)
}

footer {
    position: fixed;
    bottom: 0;
    /*right: 0;*/
    /*left: 0;*/
    z-index: 1;
    font-size: 12px;

    /*Text Stroke*/
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: var(--white-50);*/

    /*background: rgb(248 249 250 / 80%);*/
    border-radius: 20px;

    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

footer p {
    margin: 0;
}

footer a {
    color: var(--custom-color-primary);
}

footer a:hover {
    color: var(--custom-color-secondary);
}