.carousel{
    height: calc(100vh - 86px); /*view height - navbar height*/
    overflow-y: hidden;
}

.carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    top: 40%;
    bottom: unset;
}

.carousel-indicators {
    bottom: 3rem !important;
}


.carousel-caption h1{
    font-size: calc(2.375rem + 1.5vw);
}

