.carousel{
    height: calc(100vh - 86px);
    overflow-y: hidden;
}

.carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    top: 40%;
    bottom: unset;
}

.carousel-indicators {
    bottom: 3rem !important;
}

