:root {
    --custom-color-primary: #ff8f51;
    --custom-color-secondary: #b05928;
    --custom-color-darkgrey: #2f2f2f;
    
    --custom-form-input-focus-bordercolor: #FFB285FF;
    --custom-form-input-focus-boxshadow: 0 0 0 0.25rem rgba(255, 143, 81, 0.25);
}

body, #root{
    height: 100%;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,
p, a {
    font-family: "Nunito", sans-serif !important;
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none !important;
}

/*smooth transitions between screen sizes*/
/*.category .row > *{*/
/*    transition: ease-in-out 0.1s!important;*/
/*}*/
/*section, div!*, h1, h2, h3, h4*!{*/
/*    transition: ease-in-out 0.3s;*/
/*}*/
